# Python
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env
config/.env
config/.env.dev

# Logs
logs/

# Local config
config/config.yaml

# Database
data/database.db

#health log
data/health_alerts.json
data/trending_movies.json

.ssh/
